:root {
    --color-1: #1c1f3b;
    --color-2: #282c4d;
    --color-3: #3c3f68;
    --color-4: #4d4d80;
    --color-5: #606271;
    --color-6: #543A80;
}

body {
    color: var(--color-1);
    background-color: var(--color-5);

    margin: 0;
	padding: 0;

	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5em; 
}

/* links */
a, a:link, a:visited { 
	color: var(--color-6); 
	text-decoration: none; 
}
a:hover { 
	text-decoration: underline;
}

/* Central box */
main {
    color: var(--color-4);
    background-color: var(--color-2);
    
    max-width: 80%;
    padding: 2%;
	margin: 10% auto;
    margin-top: 1%;
    border: 2px solid var(--color-1);
    border-collapse: collapse;
    overflow-y: auto;
}

/* Guide & Sidebar */
#content {
    display: flex;
    flex: 1;
    
    gap: 1%;
}

/* Guide */
section { 
    flex: 3;
    
    padding: 1%;
    border: 2px solid var(--color-4);

    color: var(--color-5);
    background-color: var(--color-1);
}

/* Sidebar */
aside {
    flex:1;

    padding: 2%;
    padding-top: 1%;
    border: 2px solid var(--color-4);

    color: var(--color-5);
    background-color: var(--color-1);
}
/* Pages */
aside .NavList {
    margin: 1%;
    font-size: large;
	padding: 0; 
	list-style: none; 
}