.color-1 {
    color: #1c1f3b;
}
.color-2 {
    color: #282c4d;
}
.color-3 {
    color: #3c3f68;
}
.color-4 {
    color: #4d4d80;
}
.color-5 {
    color: #606271;
}
.color-6 {
    color: #543A80;
}

:root {
    --color-1: #1c1f3b;
    --color-2: #282c4d;
    --color-3: #3c3f68;
    --color-4: #4d4d80;
    --color-5: #606271;
    --color-6: #543A80;
}