.color-1 { 
	color: #dbd8e3; 
}
	
.color-2 { 
	color: #5c5470; 
}

.color-3 { 
	color: #352f44; 
}

.color-4 { 
	color: #2a2438; 
}


:root {
    --color-1: #dbd8e3;
    --color-2: #5c5470;
    --color-3: #352f44;
    --color-4: #2a2438;
}