@import url(palette.css);

body {
    background-color: var(--color-1);

    margin: 0;
	padding: 0;

	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5em; 
}

/* links */
a, a:link, a:visited { 
	color: var(--color-2);
	text-decoration: none; 
}
a:hover { 
	text-decoration: underline;
}

/* Central box */
main {
    background-color: var(--color-2);
    
    max-width: 80%;
    
    padding: 2%;
	
    margin: 10% auto;
    margin-top: 1%;
    
    border-collapse: collapse;
    
    overflow-y: auto;
}

/* Guide & Sidebar */
#content {
    display: flex;
    flex: 1;
    
    gap: 1%;
}

/* Guide */
section { 
    flex: 3;
    
    padding: 1%;

    color: var(--color-1);
    background-color: var(--color-3);
}

/* Sidebar */
aside {
    flex:1;

    padding: 2%;
    padding-top: 1%;
    
    color: var(--color-1);
    background-color: var(--color-3);
}
/* Pages */
aside .NavList {
    margin: 1%;
    
    padding: 0%;

    font-size: large;
	list-style: none; 
}