.color-1 {
    color: #95BF8F;
}
.color-2 {
    color: #CCF5AC;
}
.color-3 {
    color: #B1AE91;
}
.color-4 {
    color: #B87BD9;
}
.color-5 {
    color: #606271;
}
.color-6 {
    color: #CED0CE;
}
.color-7 {
    color: #E6E8E6;
}
.color-8 {
    color: #543A80;;
}


:root {
    --color-1: #95BF8F;
    --color-2: #CCF5AC;
    --color-3: #B1AE91;
    --color-4: #B87BD9;
    --color-5: #606271;
    --color-6: #CED0CE;
    --color-7: #E6E8E6;
    --color-8: #543A80;
}